<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/CSS" href="/CSS/main.css">
    <title>RZ Itinerary Planner</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Alfa+Slab+One|Archivo+Black" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Staatliches|Stardos+Stencil" rel="stylesheet">
</head>

<body class="signUpPage">
    <div class="signUpWrapper">
        <h2 class="signUpHeader">Sign Up</h2>
        <form class="signUpForm" method ="POST" action="/signup">
            <div class="inputDiv">
                <p>Username:</p>
                <input type="text" name="username">
            </div>
            <div class="inputDiv">
                <p>Password:</p>
                <input type="password" name="userPW">
            </div>
            <div class="inputDiv">
                <p>Confirm Password:</p>
                <input type="password" name="confirmUserPW">
            </div>
            <div class="inputDiv">
                <p>Email:</p>
                <input type="email" name="userEmail">
            </div>
              <div class="signUpBtn">
                  <input type="submit" value = "Sign Up">
            </div>
            <p>{{validation}}</p>
           
            <p class="signUpFooter">Already have an Account? <a href="/signin">Sign In</a></p>
        </form>
    </div>
</body>