<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/CSS" href="/CSS/main.css">
    <title>RZ Itinerary Planner</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Alfa+Slab+One|Archivo+Black" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Staatliches|Stardos+Stencil" rel="stylesheet">
</head>

<body class="signInPage">
    <div class="signInWrapper">
        <h2 class="signInHeader">Sign In</h2>
        <form class="signInForm" method="POST" action="/signin">
            <div class="inputDiv">
                <p>Username:</p>
                <input type="text" name="username">
            </div>
            <div class="inputDiv">
                <p>Password:</p>
                <input type="password" name="userPW">
            </div>
              <div class="signInBtn">
                <input type="submit" value = "Sign In">
            </div>
            
            <div class="pwOption">
                <a href="#">Forgot Password</a>
                <a href="#">Reset Password</a>
            </div>
            <p class="signInFooter">Do not have an account? <a href="/signUp">Sign Up</a></p>
        </form>
    </div>
</body>