/* *{
    border-style: solid;
    border-width: 1px;
} */

.indexBody {
  background: black;
}

.landingImg {
  position: fixed;
  object-fit: cover;
  width: 50vw;
  height: 100vh;
  left: 0;
  top: 0;
}

.appContainer {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.15);
  left: 52vw;
  top: 30vh;
  width: 45vw;
  height: 45vh;
}

.appSologan {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 2vmin;
  text-transform: capitalize;
  line-height: 1;
  letter-spacing: 2px;
  background-color: rgba(255, 255, 255, 0);
  color: gray;
  position: fixed;
  left: 55vw;
  top: 30vh;
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s; /* Firefox < 16 */
}
.appName {
  font-family: 'Staatliches', cursive;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: rgba(255, 255, 255, 0);
  color: gray;
  position: fixed;
  left: 55vw;
  top: 38vh;
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s; /* Firefox < 16 */
}

.appInfo {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6vmin;
  line-height: 1.8;
  font-weight: 300;
  margin-bottom: 2.5vmin;
  background-color: rgba(255, 255, 255, 0);
  color: gray;
  position: fixed;
  width: 540px;
  left: 55vw;
  top: 45vh;
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s; /* Firefox < 16 */
}

.signin {
  position: fixed;
  left: 55vw;
  top: 55vh;
  color: gray;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6vmin;
  line-height: 1.8;
  font-weight: 300;
  margin-bottom: 2.5vmin;
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s; /* Firefox < 16 */
}

.signup {
  position: fixed;
  left: 55vw;
  top: 58vh;
  color: gray;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6vmin;
  line-height: 1.8;
  font-weight: 300;
  margin-bottom: 2.5vmin;
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s; /* Firefox < 16 */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Sign Up page CSS */

.signUpPage {
  background-image: url('/Images/signup-bg.jpg');
  background-size: 100vw 100vh;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
}

.signUpWrapper {
  position: fixed;
  left: 37.5vw;
  top: 12.5vw;
  width: 350px;
  height: 480px;
  background-color: rgba(255, 255, 255, 0.349);
  border-radius: 8px;
}

.signUpHeader {
  position: relative;
  left: 10px;
  top: 5px;
  font-size: 30px;
  color: gray;
  margin: 0px 0px 30px 0px;
}

.signUpForm {
  position: relative;
  left: 30px;
  width: 300px;
  height: 400px;
}

.inputDiv {
  margin: 3px;
  height: 60px;
}

.inputDiv p {
  margin-top: 0px;
  margin-bottom: 3px;
  font-size: 20px;
  color: gray;
}

.inputDiv input {
  border-style: none;
  border-bottom: solid;
  border-width: 1px;
  border-color: gray;
  background-color: transparent;
  color: rgb(82, 82, 82);
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 0px;
  width: 90%;
}

.signUpBtn {
  position: relative;
  display: block;
  left: 220px;
  width: 80px;
  background-color: rgba(15, 25, 27, 0.171);
  border-radius: 5px;
}

.signUpBtn input {
  display: block;
  border-style: none;
  border-radius: 3px;
  width: 80px;
  height: 26px;
  text-align: center;
  font-size: 16px;
  color: gray;
  background-color: rgba(128, 128, 128, 0.096);
  padding-top: 5px;
  margin: 12px 0px 0px 0px;
}

.signUpFooter {
  position: relative;
  color: gray;
}

.signUpFooter a {
  color: gray;
}

/* Sign in page CSS */

.signInPage {
  background-image: url('/Images/signUp-bg.jpg');
  background-size: 100vw 100vh;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
}

.signInWrapper {
  position: fixed;
  left: 37.5vw;
  top: 12.5vw;
  width: 350px;
  height: 420px;
  background-color: rgba(255, 255, 255, 0.349);
  border-radius: 8px;
}

.signInHeader {
  position: relative;
  left: 10px;
  top: 5px;
  font-size: 30px;
  color: gray;
  margin: 0px 0px 30px 0px;
}

.signInForm {
  position: relative;
  left: 30px;
  width: 300px;
  height: 350px;
}

.signInBtn {
  position: relative;
  display: block;
  left: 220px;
  width: 80px;
  background-color: rgba(15, 25, 27, 0.171);
  border-radius: 5px;
}

.signInBtn input {
  display: block;
  border-style: none;
  border-radius: 3px;
  width: 80px;
  height: 26px;
  text-align: center;
  font-size: 16px;
  color: gray;
  background-color: rgba(128, 128, 128, 0.096);
  padding-top: 5px;
  margin: 12px 0px 0px 0px;
}

.pwOption {
  margin-top: 50px;
}
.pwOption a {
  display: inline-block;
  margin: 20px 20px 0px 0px;
  color: gray;
}

.signInFooter {
  position: relative;
  color: gray;
}

.signInFooter a {
  color: gray;
}

/* itinerary Page CSS */

.itineraryPage {
  background-image: url('/Images/itinerary-bg.jpg');
  background-size: 100vw 100vh;
  overflow: scroll;
}
.userInfo {
  position: fixed;
  font-size: 16px;
  font-weight: 400;
  left: 955px;
  top: 35px;
  width: 335px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
}

.userInfo p{
  position: relative;
  top:5px;
  margin: 8px 0px 3px 8px;
}

.logout {
position: relative;
top:3px;
left:280px;
margin: 10px 8px 3px 0px;
}

.savedItinerary {
  position: fixed;
  left: 25px;
  top: 35px;
  width: 500px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
}

.savedItinerary h3 {
  position: relative;
  left: 10px;
  margin: 5px 0px 10px 0px;
}


.savedItinerary form{
  position: relative;
  border-color: brown;
  left: 10px;
  width: 560px;
}

.savedItinerary li {
  position: relative;
  left: 10px;
  width: 560px;
}

.savedItinerary li a{
  display: inline-block;
  width: 200px;
}


.itineraryEditor {
  position: fixed;
  left: 540px;
  top: 35px;
  width: 400px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
}
.addItinerary {
  position: relative;
  left: 20px;
  top: 10px;
  width: 600px;
  margin: 0px 0px 15px 0px;
}

.addEvents {
  position: relative;
  left: 20px;
  top: 10px;
  width: 600px;
}

.addEvents div {
  margin: 0px 0px 15px 0px;
}

.addEvents div span {
  display: inline-block;
  width: 80px;
}
.addEvents input {
  position: relative;
  left: 25px;
}

.addEvents button {
  position: relative;
  left: 60px;
}


.weatherApi{
    position: fixed;
    left: 25px;
    top: 205px;
    width: 500px;
    height: 165px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    
}

.weatherApi div{
  margin: 8px 0px 15px 15px;
}

.weatherApi p{
  margin: 8px 0px 8px 15px; 
}

.fakeApi {
  position: fixed;
  left: 25px;
  top: 385px;
  width: 500px;
  height: 320px;
  border-radius: 8px;
  overflow: hidden;
}


.itineraryLists {
  position: fixed;
  left: 540px;
  top: 205px;
  width: 750px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
}

.itineraryName {
  position: relative;
  left: 15px;
  top:10px;
  font-size: 25px;
  font-weight: 400;
}

.eventsLists{
    position: relative;
    left: 15px;
    top:20px;
}

.eventsLists li{
    list-style: none;
    height: 50px;
    
}

.eventsLists span{
    display: inline-block;
    width:120px;
    line-height: 40px;
    border-radius: 3px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.164)
}

.eventsLists p{
    overflow-wrap: break-word;
    display: inline-block;
    width:400px;
    color:red;
    line-height: 40px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.164)
}

.deleteEvent{
  background-color: rgba(0, 0, 0, 0);
  border-radius: 3px;
  text-align: center;

}

.deleteBtn{
  text-align: center;
  width: 70px;
  height: 40px;
  border-radius: 3px;
  background-color: transparent;
}

.deleteItry{
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  background-color: transparent;
}

.userNameStupidWay{
  position: fixed;
  background-color: transparent;
  color: transparent;
  border-style: none;
  border-color: red;
  border-width: 3px;
  text-decoration: none;
  display: fixed;
  top:100vh;
  left: 100vw;
}